services:
  api:
    build: .
    container_name: my-agents-api
    restart: unless-stopped
    ports:
      - '3000:3000'
    user: "1000:1000"
    environment:
      - PORT=3000
      - DATABASE_URL=file:../dev.db # Ajuste conforme seu schema.prisma
      - FLOW_CLIENT_ID=${FLOW_CLIENT_ID}
      - FLOW_CLIENT_SECRET=${FLOW_CLIENT_SECRET}
      - FLOW_TENANT=${FLOW_TENANT}
      - FLOW_AGENT=${FLOW_AGENT}
      - FLOW_APP_TO_ACCESS=${FLOW_APP_TO_ACCESS}
      - FRIGATE_URL=http://frigate:5000
      # Standard NestJS prod setting
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    volumes:
      # Persistência do SQLite (ajuste o caminho se necessário)
      - ./dev.db:/app/dev.db
      - ./scraped_docs:/app/scraped_docs
      - ./.wwebjs_auth:/app/.wwebjs_auth
    networks:
      - proxy-net

  redis:
    image: redis:alpine
    container_name: my-agents-redis
    restart: always
    ports:
      - '6379:6379'
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
