services:
  api:
    build: .
    container_name: my-agents-api
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - DATABASE_URL=file:../dev.db
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - MY_TELEGRAM_CHAT_ID=${MY_TELEGRAM_CHAT_ID}
      - FLOW_CLIENT_ID=${FLOW_CLIENT_ID}
      - FLOW_CLIENT_SECRET=${FLOW_CLIENT_SECRET}
      - FLOW_TENANT=${FLOW_TENANT}
      - FLOW_AGENT=${FLOW_AGENT}
      - FLOW_APP_TO_ACCESS=${FLOW_APP_TO_ACCESS}
      - FRIGATE_URL=http://frigate:5000
      - NODE_ENV=production
      - CRAWLEE_STORAGE_DIR=/app/scraped_docs/storage
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    volumes:
      - ./dev.db:/app/dev.db
      - ./scraped_docs:/app/scraped_docs
      - ./.wwebjs_auth:/app/.wwebjs_auth
      - ./.config:/app/.config
    networks:
      - proxy-net

  redis:
    image: redis:alpine
    container_name: my-agents-redis
    restart: always
    ports:
      - '6379:6379'
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true