services:
  api:
    build: .
    container_name: my-agents-api
    restart: unless-stopped
    environment:
      - PORT=3000
      - DATABASE_URL=file:../dev.db # Ajuste conforme seu schema.prisma
    volumes:
      # Persistência do SQLite (ajuste o caminho se necessário)
      - ./dev.db:/app/dev.db
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
